<html>
  <head>
    <title>Testbed GUI</title>
    <link href="/static/css/sm_style.css" rel="stylesheet">
  </head>


  <body>

      <nav>
          <div class="page-title">
              Scenario Manager
          </div>
      </nav>

      <div id="container">

          <!-- Scenario block  -->
          <div id="scenarios" class="block">

              <div class="block-title">
                  Scenarios
              </div>


              <div id="block-content">
                  <hr></hr>
                  <ul id="list">
                     <li>
                         <div id="list-item-content">
                             <div class="scn-list-item-txt">
                                Test scenario 1
                             </div>

                             <div class="list-item-buttons">
                                 <button id="button" class="scenario-1" type="button">Start</button>
                             </div>
                         </div>
                     </li>

                     <li>
                         <div id="list-item-content">
                             <div class="list-item-txt">
                                Test scenario 2
                             </div>

                             <div class="list-item-buttons">
                                 <button id="button" class="scenario-2" type="button">Start</button>
                             </div>
                         </div>
                     </li>

                  </ul>
              </div>
          </div>

      </div>

      <!-- Agents block  -->
      <div id="overview-agents" class="block">

          <div class="block-title">
              Agents
          </div>


          <div id="block-content">
              <hr></hr>

              <ul id="list">

                  <li>
                      <div id="list-item-content" class="god">
                          <div class="list-item-txt">
                             God
                          </div>

                          <div class="list-item-buttons">
                              <a href="god"><button id="button" type="button" class="btn-blocked">View</button></a>
                          </div>
                      </div>
                  </li>

                 <li>
                     <div id="list-item-content" class="god">
                         <div class="list-item-txt">
                            Agent 1
                         </div>

                         <div class="list-item-buttons" class="agent-1">
                             <a href="#"><button id="button" type="button" class="btn-blocked">View</button></a>
                         </div>
                     </div>
                 </li>

                 <li>
                     <div id="list-item-content" class="agent-2">
                         <div class="list-item-txt">
                            Agent 2
                         </div>

                         <div class="list-item-buttons">
                             <a href="#"><button id="button" type="button" class="btn-blocked">View</button></a>
                         </div>
                     </div>
                 </li>

                 <li>
                     <div id="list-item-content" class="hu_ag-1">
                         <div class="list-item-txt">
                            Human Agent 1
                         </div>

                         <div class="list-item-buttons">
                             <a href="#"><button id="button" type="button" class="btn-blocked">View</button></a>
                         </div>
                     </div>
                 </li>

              </ul>
          </div>
      </div>


  </body>

  <script type="text/javascript" src="/static/dist/jquery/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/static/dist/socket.io/1.3.5/socket.io.min.js"></script>
  <script type="text/javascript" src="/static/js/scenario_manager.js"></script>

</html>
